 <%# FEEDBACK MESSAGES I WANT TO PROVIDE TO MY USER %>
  <% if flash[:error] %>
      <div class="notification is-danger">
          <%= flash[:error] %>
      </div>
  <% end %>
<%# ===================================================== %>

<%# =============================================PASSWORD CHANGE %>

    <br>CHANGE YOUR PASSWORD<br>

    <form action="/users/<%=@user.id%>/password" method="POST">
    <input type="hidden" name="_method" value="PATCH">
        <br>
            <label for="c_p">password:</label>
            <input type="password" name="current_password" id="c_p" placeholder="current password">
        <br>
            <label for="n_p">new password:</label>
            <input type="password" name="new_password" id="n_p" placeholder="new password">
        <br>
            <label for="n_p_c">confirm new password:</label>
            <input type="password" name="new_password_confirmation" id="n_p_c" placeholder="confirm new password">

    <input type="submit" value="submit changes">
    </form>

<%# =============================================PASSWORD CHANGE %>