 <%# FEEDBACK MESSAGES I WANT TO PROVIDE TO MY USER %>
  <% if flash[:error] %>
      <div class="notification is-danger">
          <%= flash[:error] %>
      </div>
  <% end %>
<%# ===================================================== %>

<%# BACKGROUND COLOR FULL PAGE %>
<div class="hero is-fullheight" style="background-image: linear-gradient(to right, rgba(254, 205, 205, 0.9), rgba(155, 217, 253, 0.9));">

<div class="hero-body">

    <div class="container has-text-centered">

      <div class="column is-8 is-offset-2">
        

        <h3 class="title" style="text-shadow: 1px 1px 3px green;">
          SIGN UP!&#9998;</h3>
        <h4 class="subtitle">
          Define your credentials, here.
        </h4>

        <div class="subtitle">
          <span class="icon">
           <i class="fas fa-hand-sparkles" style="font-size: 40px; text-shadow: 1px 1px 3px green;"></i>
          </span>
        </div>



<%# =====================================================FORM %>
<form action="/signup" method="POST">

                <div class="field is-horizontal">
                  <label class="field-label">
                    <strong>USERNAME</strong>
                  </label>

                  <div class="field-body">
                    <div class="field">
                      <div class="control has-icons-left">
                        <input class="input" type="text" name="user[name]" placeholder="Jane Doe">
                        <span class="icon is-left">
                          <%# ICON - PLUG INTO FONTAWESOME SCRIPT %>
                          <i class="fas fa-user-astronaut"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="field is-horizontal">
                  <label class="field-label">
                    <strong>PASSWORD</strong>
                  </label>

                  <div class="field-body">
                    <div class="field">
                      <div class="control has-icons-left">
                        <input class="input" type="password" name="user[password]" placeholder="abc123secret">
                        <span class="icon is-left">
                          <%# ICON - PLUG INTO FONTAWESOME SCRIPT %>
                          <i class="fas fa-key"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="control">
                  <input class="button is-rounded" type="submit" value="PRESS 2 SIGN UP!">
                </div>
                
                

</form>
<%# ===================================================== %>
      </div>
    </div>
  </div>
</div>

</div> 