 <%# FEEDBACK MESSAGES I WANT TO PROVIDE TO MY USER %>
  <% if flash[:error] %>
      <div class="notification is-danger">
          <%= flash[:error] %>
      </div>
  <% end %>
<%# ===================================================== %>

<div class="title is-1 has-text-centered">
S I G N   U P</div>

<form action="/signup" method="POST">
        <div class="field">
        <label class="label">
          USER NAME
        </label>
              <div class="control">
                <input class="input" type="text" name="user[name]" placeholder="enter u s e r n a m e here">
              </div>
        </div>

        <div class="field">
        <label class="label">
          PASSWORD
        </label>
              <div class="control">
              <input class="input" type="password" name="user[password]" placeholder="enter p a s s w o r d here">
              </div>
        </div>

        <div class="control">
          <input class="button is-primary" type="submit" value="PRESS 2 SUBMIT">
        </div>
  