<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<%# ====================================================================HEAD %>
  <head>
<%# ============================================================for Bulma======== %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ↑ BULMA REQUIREMENT : this line makes the site RESPONSIVE -->    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- ↑ BULMA : Predesigned external CSS : 'free, open source CSS framework based on Flexbox..' "https://github.com/jgthms/bulma/blob/master/css/bulma.css"-->
<%# ===========================================================EXTRA COOL STUFFS!====== %>

    <%# TO USE FONTAWESOME ICONS %>
    <script src="https://kit.fontawesome.com/74c7444b36.js" crossorigin="anonymous"></script>
    <title>Vdiary</title>

<%# ============================================================================= %>

    <style>
        nav {
          background-color: lightgray;          
        }    
        nav ul li {
          display: inline;
          float: right;
        }
        nav ul li a {
          padding: 14px;
        }
      </style>

  </head>
<%# =================================================================HEADend %>
<%# ====================================================================BODY %>
  <body>

        <%# =================================REQUIRED : USER LOGGED IN %>
        <%# DISPLAY NAVIGATION - APPLICATION CONTROLLER HELPER METHODS USE - IF SESSION.USER_ID EXISTS -  %>
            <% if logged_in? && request.path_info != "/login" && request.path_info != "/signup" && request.path_info != "/" %>
            <% @user = current_user %>

                
            <nav>
                <ul>
                  <li style="float: left;">VDIARY<li>
                  <li><a href="/logout">-Log Out-</a></li>
                  <li><a href="/users/<%=@user.id%>">-Account-</a></li>
                  <li><a href="/entries">-Entries-</a></li>
                  <li><a href="/portal">-Portal-</a></li>
                  <br>
                </ul>
            </nav>

            <div style="text-align: center;">
              <br>
              Welcome, <%=@user.name.capitalize%>!
            </div>
                
            <% end %>
        <%# =========================================NAVBARend===== %>

        <%# ▼ INSERT CODE FROM EVERYWHERE ELSE - THE 'MEAT' OF THE APP %>
        <%= yield %>

  </body>
<%# =================================================================BODYend %>
</html>
