
<a href="/entries/new">create a new diary entry</a>

<br>
<a href="/entries">view all of your saved diary entries</a>

<br>
<a href="/users/<%=@user.id%>">take a look at your account</a>

<br><br>
<a href="/logout">log out</a>

