 

    <%# FEEDBACK MESSAGES I WANT TO PROVIDE TO MY USER %>
    <% if flash[:error] %>
        <div class="notification is-danger">
            <%= flash[:error] %>
        </div>
    <% end %> 
    <%# ===================================================== %>





<div class="hero is-fullheight " style="background-color: lightpink;">

        <div class="hero-body">
            <div class="container has-text-centered">        
                            <div class="title is-1 has-text-white is-family-monospace" style="letter-spacing: 10px; text-shadow: 2px 2px 5px black;">
                                VDiARY&#10024;    
                            </div>
                            <div class="subtitle is-4 has-text-centered" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
                                (҂◡_◡)&#9998;..
                            </div>
                            
            </div>
        </div>


        <div class="hero-foot">
                        <nav class="tabs is-right">
                            <div class="container">
                                            <ul>
                                                <h1><li><a class="title is-3 has-text-white" style="text-shadow: 2px 2px 5px darkgrey;" href="/login">LOG IN</a></li>
                                            </ul>
                                            <ul>
                                                <li><a class="subtitle is-7" style="letter-spacing: 3px;" href="/signup">
                                                <div class="subtitle is-6 has-text-grey">SIGN UP</div>
                                                <div class="subtitle is-7 has-text-grey">new user</div>
                                                </a></li>
                                            </ul>
                            </div>
                        </nav>
    </div>

    




</div>




