 <%# FEEDBACK MESSAGES I WANT TO PROVIDE TO MY USER %>
  <% if flash[:error] %>
      <div class="notification is-danger">
          <%= flash[:error] %>
      </div>
  <% end %>
<%# ===================================================== %>

<div class="title is-1 has-text-centered">
*~-+ Vdiary +-~*</div>

<div class="subtitle is-4 has-text-centered ">
a diary<br>made just for me</div>

<a href="/login">
-------LOG IN------</a>

<br>

<a href="/signup">
-------SIGN UP------</a>

