<%@d = Date.current%>
<%=@d.strftime("%B %e, %Y")%>

<form action="/entries" method="POST">

    <textarea name="entry[message]" rows="2" cols="50" placeholder="dear diary..."></textarea>

    <input type="submit" value="save">
</form>